<div mat-dialog-title *ngIf="true">{{ isCreateMode() ? 'Create' : 'Update' }} Task</div>
<form [formGroup]="form" *ngIf="true">
  <mat-dialog-content>
    <!-- <div fxLayout="column" fxLayout.gt-sm="row" fxLayoutGap.gt-sm="24px">
      <mat-form-field>
        <mat-label>ID</mat-label>
        <input matInput formControlName="id" disabled>
      </mat-form-field>
    </div> -->

    <div fxLayout="column" fxLayout.gt-sm="row" fxLayoutGap.gt-sm="24px">
      <mat-form-field>
        <mat-label>Employee ID</mat-label>
        <input matInput formControlName="employeeId">
      </mat-form-field>
    </div>

    <div fxLayout="column" fxLayout.gt-sm="row" fxLayoutGap.gt-sm="24px">
      <mat-form-field>
        <mat-label>Title</mat-label>
        <input matInput formControlName="title">
      </mat-form-field>
    </div>

    <div fxLayout="column" fxLayout.gt-sm="row" fxLayoutGap.gt-sm="24px">
      <mat-form-field>
        <mat-label>Task</mat-label>
        <input matInput formControlName="task">
      </mat-form-field>
    </div>

    <div fxLayout="column" fxLayout.gt-sm="row" fxLayoutGap.gt-sm="24px">
      <mat-form-field>
        <mat-label>Description</mat-label>
        <textarea matInput formControlName="description"></textarea>
      </mat-form-field>
    </div>

    <div fxLayout="column" fxLayout.gt-sm="row" fxLayoutGap.gt-sm="24px">
      <mat-form-field>
        <mat-label>Valid From</mat-label>
        <input matInput [matDatepicker]="dp1" formControlName="validFrom" >
        <mat-datepicker-toggle matIconSuffix [for]="dp1"></mat-datepicker-toggle>
        <mat-datepicker #dp1></mat-datepicker>
      </mat-form-field>
    </div>

    <div fxLayout="column" fxLayout.gt-sm="row" fxLayoutGap.gt-sm="24px">
      <mat-form-field>
        <mat-label>Valid Till</mat-label>
        <input matInput [matDatepicker]="dp2" formControlName="validTill" >
        <mat-datepicker-toggle matIconSuffix [for]="dp2"></mat-datepicker-toggle>
        <mat-datepicker #dp2></mat-datepicker>
      </mat-form-field>
    </div>

    <!-- <div fxLayout="column" fxLayout.gt-sm="row" fxLayoutGap.gt-sm="24px">
      <mat-form-field>
        <mat-label>Created At</mat-label>
        <input matInput formControlName="createdAt" disabled>
      </mat-form-field>
    </div>

    <div fxLayout="column" fxLayout.gt-sm="row" fxLayoutGap.gt-sm="24px">
      <mat-form-field>
        <mat-label>Updated At</mat-label>
        <input matInput formControlName="updatedAt" disabled>
      </mat-form-field>
    </div> -->

    <div fxLayout="column" fxLayout.gt-sm="row" fxLayoutGap.gt-sm="24px">
      <mat-form-field>
        <mat-label>Created By</mat-label>
        <input matInput formControlName="createdBy" >
      </mat-form-field>
    </div>

    <!-- <div fxLayout="column" fxLayout.gt-sm="row" fxLayoutGap.gt-sm="24px">
      <mat-form-field>
        <mat-label>Modified By</mat-label>
        <input matInput formControlName="modifiedBy" disabled>
      </mat-form-field>
    </div>

    <div fxLayout="column" fxLayout.gt-sm="row" fxLayoutGap.gt-sm="24px">
      <mat-form-field>
        <mat-label>Deleted At</mat-label>
        <input matInput formControlName="deletedAt" disabled>
      </mat-form-field>
    </div>

    <div fxLayout="column" fxLayout.gt-sm="row" fxLayoutGap.gt-sm="24px">
      <mat-form-field>
        <mat-label>Version</mat-label>
        <input matInput formControlName="version" disabled>
      </mat-form-field>
    </div> -->
  </mat-dialog-content>
  <mat-dialog-actions fxLayout="row" fxLayoutAlign="end center">
    <button *ngIf="isCreateMode()" (click)="save()" mat-flat-button color="primary" [disabled]="!form.valid">Create Task</button>
    <button *ngIf="isUpdateMode()" (click)="save()" mat-flat-button color="primary" [disabled]="!form.valid">Update Task</button>
  </mat-dialog-actions>
</form>
