<div mat-dialog-title *ngIf="true">{{ isCreateMode() ? 'Create' : 'Update' }} General Ledger</div>
<form [formGroup]="form" *ngIf="true">
  <mat-dialog-content>
    <div fxLayout="column" fxLayout.gt-sm="row" fxLayoutGap.gt-sm="24px">
      <mat-form-field>
        <mat-label>ID</mat-label>
        <input matInput formControlName="id">
      </mat-form-field>
    </div>
    <div fxLayout="column" fxLayout.gt-sm="row" fxLayoutGap.gt-sm="24px">
      <mat-form-field>
        <mat-label>From Account</mat-label>
        <input matInput formControlName="fromAccount">
      </mat-form-field>
    </div>
    <div fxLayout="column" fxLayout.gt-sm="row" fxLayoutGap.gt-sm="24px">
      <mat-form-field>
        <mat-label>To Account</mat-label>
        <input matInput formControlName="toAccount">
      </mat-form-field>
    </div>
    <div fxLayout="column" fxLayout.gt-sm="row" fxLayoutGap.gt-sm="24px">
      <mat-form-field>
        <mat-label>Order</mat-label>
        <input matInput formControlName="order">
      </mat-form-field>
    </div>
    <div fxLayout="column" fxLayout.gt-sm="row" fxLayoutGap.gt-sm="24px">
      <mat-form-field>
        <mat-label>Transaction Date</mat-label>
        <input matInput [matDatepicker]="dp1" formControlName="transactionDate">
        <mat-datepicker-toggle matIconSuffix [for]="dp1"></mat-datepicker-toggle>
        <mat-datepicker #dp1></mat-datepicker>
      </mat-form-field>
    </div>
    <div fxLayout="column" fxLayout.gt-sm="row" fxLayoutGap.gt-sm="24px">
      <mat-form-field>
        <mat-label>Total Amount</mat-label>
        <input matInput formControlName="totalAmount">
      </mat-form-field>
    </div>
    <div fxLayout="column" fxLayout.gt-sm="row" fxLayoutGap.gt-sm="24px">
      <mat-form-field>
        <mat-label>Pending Amount</mat-label>
        <input matInput formControlName="pendingAmount">
      </mat-form-field>
    </div>
    <div fxLayout="column" fxLayout.gt-sm="row" fxLayoutGap.gt-sm="24px">
      <mat-form-field>
        <mat-label>Description</mat-label>
        <textarea matInput formControlName="description"></textarea>
      </mat-form-field>
    </div>
    <div fxLayout="column" fxLayout.gt-sm="row" fxLayoutGap.gt-sm="24px">
      <mat-form-field>
        <mat-label>Transaction Type</mat-label>
        <mat-select formControlName="transactionType">
          <mat-option value="Credit">Credit</mat-option>
          <mat-option value="Debit">Debit</mat-option>
        </mat-select>
      </mat-form-field>
    </div>
    <div fxLayout="column" fxLayout.gt-sm="row" fxLayoutGap.gt-sm="24px">
      <mat-form-field>
        <mat-label>Format</mat-label>
        <input matInput formControlName="format">
      </mat-form-field>
    </div>
    <div fxLayout="column" fxLayout.gt-sm="row" fxLayoutGap.gt-sm="24px">
      <mat-form-field>
        <mat-label>Valid From</mat-label>
        <input matInput [matDatepicker]="dp2" formControlName="validFrom">
        <mat-datepicker-toggle matIconSuffix [for]="dp2"></mat-datepicker-toggle>
        <mat-datepicker #dp2></mat-datepicker>
      </mat-form-field>
    </div>
    <div fxLayout="column" fxLayout.gt-sm="row" fxLayoutGap.gt-sm="24px">
      <mat-form-field>
        <mat-label>Valid Till</mat-label>
        <input matInput [matDatepicker]="dp3" formControlName="validTill">
        <mat-datepicker-toggle matIconSuffix [for]="dp3"></mat-datepicker-toggle>
        <mat-datepicker #dp3></mat-datepicker>
      </mat-form-field>
    </div>
  </mat-dialog-content>
  <mat-dialog-actions fxLayout="row" fxLayoutAlign="end center">
    <button *ngIf="isCreateMode()" (click)="save()" mat-flat-button color="primary" [disabled]="!form.valid">Create General Ledger</button>
    <button *ngIf="isUpdateMode()" (click)="save()" mat-flat-button color="primary" [disabled]="!form.valid">Update General Ledger</button>
  </mat-dialog-actions>
</form>
