d<fury-page-layout mode="card">
    <fury-page-layout-header class="header-with-bg">
        <!-- <div class="header-content">
          <h1 class="page-title">Welcome to SCM Dashboard</h1>
          <p class="subtitle">Your go-to solution for streamlined management</p>
        </div> -->
        <p><fury-breadcrumbs [@fadeInRight] [crumbs]="[]" current="SCM"></fury-breadcrumbs></p>
      </fury-page-layout-header>
      
    <fury-page-layout-content>
        <div class="button-grid">
            <div *ngFor="let item of menuItems" class="button-wrapper">
              <a [routerLink]="item.routeOrFunction" class="button-link">
                <button mat-button class="icon-button" matTooltip="{{ item.name }}">
                  <div class="icon-wrapper">
                    <mat-icon class="icon animated-icon">{{ item.icon }}</mat-icon>
                  </div>
                  <div class="button-label animated-label">{{ item.name }}</div>
                </button>
              </a>
            </div>
          </div>

        <fury-page>
            <div fxFlex="noshrink" fxLayout="column" [fxLayoutGap]="gap" fxLayout.gt-lg="row">
                <div fxLayout="column" [fxLayoutGap]="gap" [fxFlex]="col(2)" fxLayout.gt-sm="row">
                    <div fxFlex="auto" [fxFlex.gt-sm]="col(4)">
                        <div [fxFlex.gt-sm]="col(2)" [fxLayoutGap]="gap" fxFlex="grow" fxLayout="column">

                            <fury-advanced-pie-chart-widget class="route-animations-elements"
                                [data]="advancedPieChartData$ | async"
                                [options]="advancedPieChartOptions"></fury-advanced-pie-chart-widget>
                            <fury-donut-chart-widget [data]="topCategoriesData$ | async"
                                [options]="topCategoriesOptions"
                                class="route-animations-elements"></fury-donut-chart-widget>
                        </div> 
                    </div>
                    <div fxFlex="auto" [fxFlex.gt-sm]="col(4)">
                        <div [fxFlex.gt-sm]="col(2)" [fxLayoutGap]="gap" fxFlex="grow" fxLayout="column">

                            <fury-advanced-pie-chart-widget class="route-animations-elements"
                                [data]="advancedPieChartData2$ | async"
                                [options]="advancedPieChartOptions2">
                            </fury-advanced-pie-chart-widget>
                            
                            <fury-quick-info-widget color="black" icon="attach_money"
                                value="{{logisticsAmountCount.totalPrice}}" label="{{logisticsAmountCount.description}}"
                                [background]="'#ee7b44'">
                            </fury-quick-info-widget>
                        </div>
                    </div>
                </div>
            </div>
            <!-- </div> -->
        </fury-page>

    </fury-page-layout-content>
</fury-page-layout>